.header {
    height: var(--header-height);
    background-image: linear-gradient(0, #fe6433, #f53e2d);
    ;
}


.navbar {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
}



.navbar .navbar__list {
    list-style: none;
    padding-left: 0;
    display: flex;
    align-items: center;
    margin: 8px 0 0 0;
}


.navbar__item {

    position: relative;
    min-height: 26px;
    margin: 0 8px;
}


.navbar__item-user-wrap {
    display: flex;
    align-items: center;
}

.navbar__item-user-avt {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.navbar__item-user-name {
    margin-left: 4px;
    font-weight: 500;
    font-size: 1.4rem;
}

/* user menu */


.navbar__item-user:hover .navbar__item-user-menu {
    display: block;
}

.navbar__item-user-menu {
    position: absolute;
    z-index: 1;
    padding-left: 0;
    top: calc(100% + 5px);
    right: 0;
    width: 160px;
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 5px #a9a9a9;
    display: none;
    /* padding-top: 12px; */
}

.navbar__item-user-menu::after {
    content: "";
    position: absolute;
    border-width: 10px 15px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    top: -18px;
    right: 5px;
    z-index: 0;
    cursor: auto;
}


.navbar__item-user-item-separate {
    border-top: 1px solid var(--boder-color);

}

.navbar__item-user-item a {
    display: block;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 10px 16px;

}


.navbar__item-user-item:first-child a {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;

}

.navbar__item-user-item:last-child a {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;

}

.navbar__item-user-item a:hover {
    background-color: #fafafa;

}


.navbar__item--separate::after {
    display: block;
    content: "";
    position: absolute;
    border-right: 1px solid var(--white-color);
    height: 16px;
    top: 5px;
    right: -10px;
}


.navbar__item,
.navbar__item-link {
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.navbar__item,
.navbar__item-link,
.navbar__item-icon {
    display: flex;
    align-items: center;
}

.navbar__item:hover,
.navbar__item-link:hover,
.navbar__item-icon:hover {
    color: #ffffff9a;
    cursor: pointer;
}

.navbar--Show-notify:hover .header__notify {
    display: block;
    z-index: 1111;
}

.navbar__item--bold {
    font-weight: 600;
}

.item__title--no-poiter {
    cursor: text;
    color: var(--white-color) !important;
}

.navbar__item-icon {
    color: var(--white-color);
    text-decoration: none;

}

.navbar__icon {

    font-size: 1.8rem;
    margin: 0 3px;

}

.navbar__item-icon:nth-child(2) {
    margin-left: 3px;
}



/* QR-code */

.navbar__item-qr {
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    top: 150%;
    left: 0;
    box-shadow: 0 1px 4px rgba(0,0,0,0.5) ;
    display: none;
    z-index: 9999;
    animation: fadeIn 1.3s ease;
}

.navbar__item-qr::before {
    display: block;
    position: absolute;
    top: -15px;
    content: "";
    width: 130%;
    height: 30%;

}

.navbar__item--show-qr:hover .navbar__item-qr {
    display: block;
}

.item__qr-img {

    width: 100%;
}


.item__qr-apps {
    display: flex;
    justify-content: space-evenly;
    margin-top: -10px;
    padding-bottom: 10px;
}


.item__qr-apps-download {
    height: 15px;

}



/* notify */

.header__notify {
    position: absolute;
    top: 150%;
    right: 0;
    width: 404px;
    background-color: var(--white-color);
    border: 1px solid #d3d3d3;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transform-origin: calc(100% - 20px) top;
    animation: headerNotifyGrowth .2s linear;
    /* khai báo trình duyệt hiệu ứng thay đổi */
    will-change: opacity, transform;
    display: none;
    border-radius: 2px;
}


.header__notify::after {
    content: "";
    position: absolute;
    border-width: 20px 35px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    top: -29px;
    right: 0px;
}

.header__notify::before {
    content: "";
    position: absolute;
    display: block;
    width: 99px;
    height: 20px;
    right: 0;
    top: -15px;

}

@keyframes headerNotifyGrowth {

    from {
        /* kieu phong to thu nho */
        transform: scale(0);
        opacity: 0;
    }

    to {
        opacity: 1;
        transform: scale(1);

    }
}

.header__notify-header {
    cursor: default;
    height: 40px;

}

.header__notify-header h3 {
    color: silver;
    font-weight: 400;
    margin: 0 0 0 12px;
    line-height: 40px;
    font-size: 1.4rem;
    /* ko cho thao tac */
    user-select: none;
}

.header__notify-list {
    padding-left: 0;
    list-style: none;

}


.header__notify-item {
    background-color: #f18b774a;

}

.header__notify-item:hover {
    background-color: #e2e2e285;
}

.header__notify-item--viewed {
    background-color: var(--white-color);
}

.header__notify-link {
    padding: 12px;
    display: flex;
    text-decoration: none;
}


.notify__link-img {
    width: 48px;
    object-fit: contain;
}


.notify__link-info {
    margin-left: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.notify__info-name {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--black-color);
    margin-bottom: 5px;
}


.notify__info-desc {
    font-size: 1.2rem;
    color: #3333338e;
}

.header__notify-footer {
    color: var(--black-color);
    display: flex;
}



.notify__footer-btn {
    text-decoration: none;
    margin: auto;
    width: 100%;
    padding: 8px 0px;
    text-align: center;
    color: var(--black-color);
    font-weight: 400;
}



/* authen from */

.auth-form {
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
}


.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    margin-top: 10px;

}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__btn {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-color);
    cursor: pointer;
}



.auth-form__input {

    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--boder-color);
    border-radius: 2px;
    outline: none;
}

.auth-form__input:focus {
    border-color: var(--black-color);
}

.auth-form__aside {
    margin-top: 20px;

}

.form-aside__policy-text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
}

.form-aside__text-link {

    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__controls {
    display: flex;
    justify-content: flex-end;
    margin-top: 80px;
}

.btn-width__icon {
    text-decoration: none;
}

.from__social--icon-facebook {

    color: var(--white-color);
    background-color: #3a5a98;
}

.social--icon-size {
    font-size: 1.9rem;
    ;
}

.auth-from__social {
    margin-top: 22px;
    background-color: #f5f5f5;
    padding: 14px 32px;
    display: flex;
    justify-content: space-between;

}

.from__social-text {
    margin: 0 32px;
}

/* login  */

.form-aside__help {
    display: flex;
    justify-content: flex-end;
}

.form-aside__help-link {
    font-size: 1.4rem;
    text-decoration: none;
    color: #939393;
}

.form-aside__help-separate {
    display: block;
    height: 18px;
    margin: -1px 16px -7px;
    border-left: 1px solid #99999946;
}

.form-aside__help-forgot {
    color: var(--primary-color);
}

/* header width search */
.header-width__search {
    height: var(--header-width__search-height);
    display: flex;
    align-items: center;
}

.header__logo {
    width: 200px;
}

.header__logo-link {
    text-decoration: none;
    color: transparent;
}

.header__logo-img {
    width: 150px;
    color: #333;
}

.header__search {
    display: flex;
    flex: 1;
    border-radius: 2px;
    height: 40px;
    background-color: var(--white-color);
    align-items: center;
}

.header__search-input-wrap {
    height: 100%;
    flex: 1;
    position: relative;
}

.header__search-input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    font-size: 1.4rem;
    padding: 0 16px;
    border-radius: 2px;

}


.header__search-select {
    border-left: 1px solid silver;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
}

.header__search-select:hover ul {
    display: block;
}

.search__select-label {
    font-size: 1.4rem;
    color: var(--text-color);
    position: relative;
}

.search__select-icon {
    font-size: 1.4rem;
    color: #4a4a4a;
    margin: 0 16px 0 8px;
    position: relative;
    top: 2px;

}

.search__select-option {
    position: absolute;
    right: 0;
    top: calc(120% - 1px);
    list-style: none;
    width: 135px;
    box-shadow: 1px 1px 5px #333;
    padding-left: 0;
    border-radius: 2px;
    display: none;

}

.search__select-option::after {
    content: "";
    display: block;
    left: 0;
    top: -15px;
    width: 100%;
    height: 20px;
    position: absolute;
}

.search__select-option-item:hover {
    background-color: #d4d4d4;
}



.search__select-option-item {
    background-color: var(--white-color);
    padding: 8px 8px;

}

.search__select-option-item:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.search__select-option-item:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}


.search__select-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
    padding-left: 15px;
}

.search__select-option-item i {
    color: var(--primary-color);
    font-size: 1.2rem;
    margin: 0 8px 0 12px;
    display: none;
}

.search__select-option-item--active i {

    display: inline-block;
}

.header-search__btn {
    border: none;
    width: 60px;
    height: 34px;
    border-radius: 2px;
    margin-right: 3px;
    background-color: var(--primary-color);
    outline: none;
    cursor: pointer;
}

.header-search__btn:hover {
    background-color: #f53e2d;
}

.header-search__btn-icon {
    font-size: 1.4rem;
    color: var(--white-color);
}

/* cart */


.header__cart-wrap {

    position: relative;
    cursor: pointer;
    display: inline-block;
    padding: 6px 8px;
}

.header__cart {
    width: 150px;
    display: flex;
    justify-content: center;
}

.header__cart-wrap:hover .header__cart-list {
    display: block;


}

.header__cart-list::after {
    content: "";
    position: absolute;
    border-width: 18px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    top: -30px;
    right: 0;
    cursor: pointer;
}

.header__cart-icon {
    color: var(--white-color);
    font-size: 2.4rem;

}


.header__cart-notice {
    position: absolute;
    padding: 1px 8px;
    color: var(--primary-color);
    background-color: var(--white-color);
    border-radius: 10px;
    font-size: 1.4rem;
    border: 2px solid #ee4d2d;
    top: -8px;
    right: -5px;
}

.header__cart-list {
    position: absolute;
    top: calc(100% + 3px);
    right: 0;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 2px 10px #0000005b;
    text-align: center;
    display: none;
    cursor: default;
    z-index: 1;
}

/* no cart */
.header__cart-list--no-cart {
    padding: 24px 0;
}

.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-no-cart-list {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.header__cart-no-cart-img {
    width: 50%;
    display: none;
}

.header__cart-no-cart-list {
    display: none;
    font-size: 1.4rem;
    margin-top: 15px;
}

/* cart list */


.header__cart-heading {
    text-align: left;
    margin: 20px 0 20px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}


.header__cart-list-item {
    padding-left: 0;
    height: 36vh;
    overflow-y: auto;
}


.header__cart-item {
    display: flex;
    align-items: center;
}


.header__cart-item:hover {
    background-color: #f8f8f8;
}

.header__cart-img {
    width: 45px;
    height: 45px;
    margin: 12px;
    border: 1px solid #717171;
}


.cart__item-info {
    width: 100%;
    margin-right: 12px;

}


.cart__item-head {

    display: flex;
    align-items: flex-start;
    justify-content: space-between;

}


.cart__item-head-name {
    min-height: 28px;
    max-width: 190px;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
    margin: 0;
    /* tao dau ... tren 1 dong*/
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}




.cart__item-head-price {

    font-size: 1.4rem;
    color: var(--primary-color);
    font-weight: 400;
}


.cart__item-head-multiply {

    font-size: 0.9rem;
    margin: 0 4px;
    color: #757575;
    font-weight: 500;
}


.cart__item-head-quantity {

    font-weight: 500;
    font-size: 1.3rem;
    color: #757575;
}


.cart__item-body {
    display: flex;
    justify-content: space-between;
}


.cart__item-body-dsc {
    font-weight: 400;
    color: #757575;
    font-size: 1.3rem;
}


.cart__item-body-remove {
    font-weight: 400;
    color: var(--text-color);
    font-size: 1.4rem;

}

.cart__item-body-remove:hover {
    cursor: pointer;
    color: var(--primary-color);
}


.cart__item-view-cart {
    float: right;
    margin: 0 12px 12px 0;
}

.cart__item-view-cart:hover {
    background-color: #f05d41;
}

/* search history */

/* hiện các lựa chọn sa thẻ input bằng :  ~ */

.header__search-input:focus~.header__search-history {
    display: block;
}

.header__search-history {
    position: absolute;
    left: 0;
    top: calc(100% + 1px);
    width: calc(100% - 16px);
    background-color: var(--white-color);
    box-shadow: 0 1px 5px #a9a9a9;
    border-radius: 2px;
    display: none;
    z-index: 1;
}

.header__search-history-heading {
    margin: 8px 12px;
    font-size: 1.4rem;
    color: rgb(149, 149, 149);
    font-weight: 400;
    user-select: none;
}

.header__search-history-list {
    padding-left: 0;
    list-style: none;
    margin: 18px 0 0 0;
}

.header__search-history-item {
    height: 38px;
    padding: 0 12px;
}

.header__search-history-item:hover {
    background-color: #fafafa;
}

.header__search-history-item a {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 38px;
    display: block;
}

.header__search-history-item:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;

}


/* app container */

.app__container {

    background-color: #f5f5f5;
}

.app__content {
    padding-top: 36px;
}

.category {
    background-color: var(--white-color);
    border-radius: 2px;

}

.category__heading {
    margin-top: 0;
    font-size: 1.7rem;
    color: var(--text-color);
    padding: 12px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.category__heading-icon {
    font-size: 1.4rem;
    margin-right: 4px;
    position: relative;
    top: -1px;
}


.category__list {
    padding: 0 0 8px 0;
    margin-left: 11px;
}


.category__item-active .category__item-link {
    color: var(--primary-color);
}


.category__item-active .category__item-link::before {
    content: "";
    position: absolute;
    display: block;
    border: 4px solid;
    border-color: transparent transparent transparent var(--primary-color);
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
}


.category__item-link {
    position: relative;
    color: var(--text-color);
    font-size: 1.5rem;
    padding: 10px 18px;
    display: block;
    transition: right linear 0.5s;
    right: 0;
}

.category__item-link:hover {
    right: -4px;
    color: var(--primary-color);
}


/* home filter */
.home__filter {
    background-color: rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
}

.home__filter-label {
    color: #555555;
    font-size: 1.4rem;
    margin-right: 16px;

}

.home__filter-btn {
    margin-right: 12px;
    min-width: 90px;
}



.home__filter-page {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.filter__page-number {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-right: 22px;
}

.filter__page-current {
    color: var(--primary-color);

}

.filter__page-control {
    border-radius: 2px;
    overflow: hidden;
    width: 72px;
    height: 36px;
    display: flex;

}

.page__control-btn:first-child {
    border-right: 1px solid #eee;
}

.page__control-btn {
    flex: 1;
    width: 36px;
    height: 36px;
    display: flex;
    background-color: #fff;
}

.page__control-btn-disabled {
    background-color: #f9f9f9;
    cursor: default;

}

.select__input-list {
    z-index: 1;
}


.page__control-btn-disabled .page__control-icon {
    color: #a9a9a9;
}


.page__control-icon {
    margin: auto;
    font-size: 1.3rem;
    color: #555;
}

/* product item */

.home__product{
    margin-bottom: 36px;


}

.home__product-item{
display: block;
margin-top: 10px;
background-color: var(--white-color);
position: relative;
border-radius:2px ;
box-shadow: 0 3px 5px rgba(0,0,0,0.1);
transition: transform ease-in    0.1s;
will-change: transform;
}
.home__product-item:hover{
    transform: translateY(-2px);
    box-shadow: 0 20px 5px rgba(0,0,0,0.05);

}


.product__item-img{
padding-top: 100%;
background-repeat: no-repeat;
background-size: contain;
background-position: center;
border-top-left-radius:2px ;
border-top-right-radius:2px ;

}

.product__item-name{
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    margin: 10px 10px 6px;
    /* tao dau ... */
    height: 3.6rem;
    overflow: hidden;
    display: block;
    /* cach 1 : it thong dung */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* cach 2 */
    /* text-overflow: ellipsis;
    white-space: nowrap; */


}

.product__item-price{

display: flex;
align-items: baseline;
flex-wrap: wrap;
}

.item__price-old{
margin-left: 10px;
font-size: 1.4rem;
color: #666;
text-decoration: line-through;
}


.item__price-current{
font-size: 1.6rem;
color: var(--primary-color);
margin-left: 10px;

}

.product__item-action{
display: flex;
justify-content: space-between;
margin: 6px 10px;

}



.product__item-like{
font-size: 1.3rem;

}

.product__item-like-fill{
    color: #f63d30;
    display: none;
}

.product__item-liked .product__item-like-fill{
    display: inline-block;
}

.product__item-liked .product__item-like-empty{
    display: none;
}

.product__item-rating{
    font-size: 0.8rem;
    color: #aaaaaa;
    margin-left: auto;
    
}

.product__item-gold{
    color: var(--star-gold-color);
}

.product__item-sold {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 5px;
    font-weight: 500;
}

.product__item-origin{
display: flex;
justify-content: space-between;
margin: 0 6px;
font-size: 1.2rem;
    font-weight: 300;
}

.product-item__brand{

}

.product-item__origin_name{


}

.product__item-favourite{
position: absolute;
top: 10px;
left: -4px;
color: var(--primary-color);
background-color: currentColor;
font-size: 1.2rem;
font-weight: 500;
padding-right: 4px;
border-top-right-radius: 2px;
border-bottom-right-radius: 2px;
}

.product__item-favourite span{
color: var(--white-color);

}


.product__item-favourite i{
color: var(--white-color);
font-size: 1rem;
margin: 0 3px 0 5px;
}

.product__item-favourite::after{
    display: block;
    content: "";
    top: 100%;
    left: 0;
    position: absolute;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%);
}

.product__item-sale-off{
position: absolute;
top: 0;
right: 0;
width: 40px;
height: 36px;
color: rgba(255,212,36,.9);
background-color: currentColor;
text-align: center;
border-top-right-radius:2px ;

}

.product__item-sale-off::after{
    display: block;
    content: "";
    bottom: -5px;
    left: 0;
    position: absolute;
    border-width: 0 20px 6px;
    border-style: solid;
    border-color: red currentColor transparent currentColor;
}

.product-item__sale-persent{
color: #ee4d2d;
font-size: 1.3rem;
font-weight: 600;
line-height: 1.8rem;
}

.product-item__sale-label{
    color: var(--white-color);
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.8rem;

}


.home__product-pagination{
    margin-top: 48px;
    margin-bottom: 32px;

}


.footer{
    border-top: 4px solid var(--primary-color);
}

.footer-heading{
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);
}

.footer__list{
    padding-left: 0;

}

.list__item-link{
    font-size: 1.4rem;
    color: #737373;
    padding: 8px 0;
    display: block;
}

.list__item-link:hover{
    color: var(--primary-color);
}

.footer-item-icon{
    font-size: 1.8rem;
    margin-right: 8px;
}


.footer__download{

    display: flex;

}
.footer__download-img {
border: 1px solid #33333333;
width: 80px;
margin-right: 10px;
}

.footer__download-app{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.download__app-img{
    height: 16px;

}

.footer__bottom{
    background-color: #828282;
    padding: 8px 0;
    text-align: center;
    margin-top: 20px;
}

.footer-text{

    font-size: 1.6rem;
    color: var(--white-color);
}